.buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#grid {
  margin: 0 auto;
  height: 500px;
  width: 500px;
  background-color: black;
  border-style: solid;
}

.cell {
  float: left;
  vertical-align: top;
  box-sizing: border-box;
}
